---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15JYFU4AnjI1zHWBR0WYyoKv",
          "livemode": false,
          "created": 1420930948,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15JYFU4AnjI1zHWBcln2SYBU",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2016,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Sat, 10 Jan 2015 23:02:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15JYFU4AnjI1zHWBR0WYyoKv&email=person39%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1420930949,
          "id": "cus_5UXKijWDsLzkar",
          "livemode": false,
          "description": null,
          "email": "person39@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5UXKijWDsLzkar/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5UXKijWDsLzkar/cards",
            "data": [
              {
                "id": "card_15JYFU4AnjI1zHWBcln2SYBU",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2016,
                "fingerprint": "GuemeI8uOeJZ5eck",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5UXKijWDsLzkar"
              }
            ]
          },
          "default_card": "card_15JYFU4AnjI1zHWBcln2SYBU"
        }
  recorded_at: Sat, 10 Jan 2015 23:02:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=2000&currency=usd&customer=cus_5UXKijWDsLzkar&statement_descriptor=PayItForward.io%20-%20Auth&capture=false
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15JYFV4AnjI1zHWBh1pfXRfJ",
          "object": "charge",
          "created": 1420930949,
          "livemode": false,
          "paid": true,
          "amount": 2000,
          "currency": "usd",
          "refunded": false,
          "captured": false,
          "card": {
            "id": "card_15JYFU4AnjI1zHWBcln2SYBU",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2016,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_5UXKijWDsLzkar"
          },
          "balance_transaction": null,
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_5UXKijWDsLzkar",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": "PayItForward.io - Auth",
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15JYFV4AnjI1zHWBh1pfXRfJ/refunds",
            "data": []
          },
          "statement_description": "PayItForward.io - Auth"
        }
  recorded_at: Sat, 10 Jan 2015 23:02:29 GMT
recorded_with: VCR 2.9.3
