<!-- Jumbotron header -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h1>PLEDGE</h1>
        <p>Put your money where your mouth is.</p>
      </div>
    </div>
  </div>
</div>

<!-- Breadcrumb Nav -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <ol class="breadcrumb">
        <li>Choose</li>
        <li class="active">Pledge</li>
        <li>Pay</li>
        <li>Challenge</li>
      </ol>
    </div>
  </div>
</div>

<!-- main section -->
<%= possum include: fragments_pledge_form_path do %>
  <noscript>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-warning" role="alert">
            <p class="text-center">Must Enable Javascript to Proceed!</p>
          </div>
        </div>
      </div>
    </div>
  </noscript>
<% end %>