---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15EthS4AnjI1zHWBvZVZENAN",
          "livemode": false,
          "created": 1419821766,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15EthS4AnjI1zHWByhaSNust",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2016,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Mon, 29 Dec 2014 02:56:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15EthS4AnjI1zHWBvZVZENAN&email=example%40email.com
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1419821766,
          "id": "cus_5Pj9hQm6eSBuZ1",
          "livemode": false,
          "description": null,
          "email": "example@email.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5Pj9hQm6eSBuZ1/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Pj9hQm6eSBuZ1/cards",
            "data": [
              {
                "id": "card_15EthS4AnjI1zHWByhaSNust",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2016,
                "fingerprint": "GuemeI8uOeJZ5eck",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Pj9hQm6eSBuZ1"
              }
            ]
          },
          "default_card": "card_15EthS4AnjI1zHWByhaSNust"
        }
  recorded_at: Mon, 29 Dec 2014 02:56:07 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=2000&currency=usd&customer=cus_5Pj9hQm6eSBuZ1&capture=false
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15EthY4AnjI1zHWB4N1TdiOB",
          "object": "charge",
          "created": 1419821772,
          "livemode": false,
          "paid": true,
          "amount": 2000,
          "currency": "usd",
          "refunded": false,
          "captured": false,
          "card": {
            "id": "card_15EthS4AnjI1zHWByhaSNust",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2016,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_5Pj9hQm6eSBuZ1"
          },
          "balance_transaction": null,
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_5Pj9hQm6eSBuZ1",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15EthY4AnjI1zHWB4N1TdiOB/refunds",
            "data": []
          },
          "statement_description": null
        }
  recorded_at: Mon, 29 Dec 2014 02:56:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_15EthS4AnjI1zHWBvZVZENAN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    bod[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "There is no token with ID tok_abc123.",
            "param": "token"
          }
        }
  recorded_at: Mon, 29 Dec 2014 02:56:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_15EthU4AnjI1zHWB3czHeLsa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    bod[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5Pj9hQm6eSBuZ1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
    [...]
