---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15FHEl4AnjI1zHWBJ1O4zIEr",
          "livemode": false,
          "created": 1419912243,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15FHEl4AnjI1zHWBneTW3UH9",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2016,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Tue, 30 Dec 2014 04:04:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_15FHEl4AnjI1zHWBJ1O4zIEr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    bod[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15FHEl4AnjI1zHWBJ1O4zIEr&email=email%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1419912244,
          "id": "cus_5Q7TaFJLP6pEBI",
          "livemode": false,
          "description": null,
          "email": "email@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5Q7TaFJLP6pEBI/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Q7TaFJLP6pEBI/cards",
            "data": [
              {
                "id": "card_15FHEl4AnjI1zHWBneTW3UH9",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2016,
                "fingerprint": "GuemeI8uOeJZ5eck",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Q7TaFJLP6pEBI"
              }
            ]
          },
          "default_card": "card_15FHEl4AnjI1zHWBneTW3UH9"
        }
  recorded_at: Tue, 30 Dec 2014 04:04:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=2000&currency=usd&customer=cus_5Q7TaFJLP6pEBI&statement_descriptor=PayItForward.io%20-%20Auth&capture=false
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15FHEm4AnjI1zHWBARaSE88S",
          "object": "charge",
          "created": 1419912244,
          "livemode": false,
          "paid": true,
          "amount": 2000,
          "currency": "usd",
          "refunded": false,
          "captured": false,
          "card": {
            "id": "card_15FHEl4AnjI1zHWBneTW3UH9",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2016,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_5Q7TaFJLP6pEBI"
          },
          "balance_transaction": null,
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_5Q7TaFJLP6pEBI",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": "PayItForward.io - Auth",
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15FHEm4AnjI1zHWBARaSE88S/refunds",
            "data": []
          },
          "statement_description": "PayItForward.io - Auth"
        }
  recorded_at: Tue, 30 Dec 2014 04:04:05 GMT
recorded_with: VCR 2.9.3
