---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15JYEO4AnjI1zHWBIYBNc9sS",
          "livemode": false,
          "created": 1420930880,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15JYEO4AnjI1zHWBHvRRBLCP",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2016,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Sat, 10 Jan 2015 23:01:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_15JYEO4AnjI1zHWBIYBNc9sS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    bod[...]
[...]
