---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15EuLa4AnjI1zHWBVgJGJof2",
          "livemode": false,
          "created": 1419824254,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15EuLa4AnjI1zHWBDVtfOXQS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2016,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Mon, 29 Dec 2014 03:37:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15EuLa4AnjI1zHWBVgJGJof2&email=person19%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-10-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1419824254,
          "id": "cus_5Pjp1aZzJsHu6q",
          "livemode": false,
          "description": null,
          "email": "person19@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5Pjp1aZzJsHu6q/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Pjp1aZzJsHu6q/cards",
            "data": [
              {
                "id": "card_15EuLa4AnjI1zHWBDVtfOXQS",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2016,
                "fingerprint": "GuemeI8uOeJZ5eck",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Pjp1aZzJsHu6q"
              }
            ]
          },
          "default_card": "card_15EuLa4AnjI1zHWBDVtfOXQS"
        }
  recorded_at: Mon, 29 Dec 2014 03:37:35 GMT
[...]
