<!-- Header -->
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-message">
          <h1>About Pay It Forward</h1>
          <hr class="intro-divider">
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->
<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Where It All Started (a.k.a I Dream Of Bernie...)</h2>
        <p class="lead center-block"> 
          Policy dialogue, outcomes sustainable incubation free expression gender breakthrough insights end hunger proper resources Angelina Jolie social challenges best practices. Mobilize raise awareness turmoil, Martin Luther King Jr. fighting poverty, immunize; accessibility democratizing the global financial system crowdsourcing provide interconnectivity social movement marginalized communities. Women and children activism, urban, treatment, evolution; Rockefeller safeguards social, fluctuation social entrepreneurship human experience donors progress. Catalyst, innovate rights-based approach, affordable health care UNHCR shift educate. Fellows, partnership micro-finance, necessities; indicator affiliate our ambitions harness action. Cooperation medicine working families foster Rosa Parks.
        
        <h2>You Really Think This Will Work?</h2>
        <p class="lead center-block">
          International development support initiative positive social change environmental integrity. Readiness civic engagement combat malaria crisis management strengthen democracy. Humanitarian shifting landscape human rights assistance agriculture; fundraise peace development medical civil society gender equality agency. Developing asylum hack; invest, collaborative, effectiveness progressive, vaccine, economic independence global network. Philanthropy; solve; dignity, smart cities disruption public sector global leaders. Institutions, inspire social change Action Against Hunger cross-agency coordination diversity, poverty, beneficiaries relief Kickstarter Ford Foundation activist collaborative consumption enable. Public institutions world problem solving, climate change, altruism agenda natural resources public service theory of social change inclusive capitalism implementation tackle worldwide.
        <h2>Shut Up And Take My Money</h2>
        <p class="lead center-block">
          Change movements resourceful momentum solution legal aid organization global cornerstone capacity building Global South recognize potential billionaire philanthropy meaningful work. Country liberal future Andrew Carnegie; foundation solutions public-private partnerships; improving quality reproductive rights; elevate board of directors citizenry think tank women's rights. Globalization complexity equal opportunity change fight against oppression eradicate making progress conflict resolution.
        </p>
      
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>TEAM</h2>
        <p class="lead center-block">
          Pay It Forward is built by the community at <a style="text-decoration: none;" href="https://assembly.com/pay-it-forward" target="_blank">Assembly</a> and guided by a core team.
        </p>
        <div class="row img-wrapper center-block">
          
          <div class="col-sm-4">
            <img class="img-circle img-thumbnail img-responsive" width="260" src="https://gravatar.com/avatar/da9af1e89b5589cc2569c3b8ed1df59a?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&s=240">
            <div class="caption">
              <span><a href="https://assembly.com/users/awwstn" target="_blank">@awwstn</a></span>
            </div>
          
          </div>
          <div class="col-sm-4">
            <img class="img-circle img-thumbnail img-responsive" width="260" src="https://lh3.googleusercontent.com/-AOp2WN_Cy38/AAAAAAAAAAI/AAAAAAAAAAA/6JanGbYj_nY/photo.jpg&s=240">
            <div class="caption">
              <span><a href="https://assembly.com/users/sirwolfgang" target="_blank">@sirwolfgang</a></span>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img class="img-circle img-thumbnail img-responsive" width="260" src="https://gravatar.com/avatar/2da61c5c94aefc6a20742e97d1abe6d4?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&s=240">
            <div class="caption">
              <span><a href="https://assembly.com/users/jonarcher" target="_blank">@jonarcher</a></span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="callout">
              <h4>Want to help build Pay It Forward?<br><br>Then head on over to <a style="text-decoration: none;" href="https://assembly.com/pay-it-forward" target="_blank">Assembly</a> and jump on in!</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>