<% content_for(:page_title, nil) %>
<div class="container">
  
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Challange your friends</h1>
      </div>
    </div>
  </div>
  

  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Google+</li>
        <li>Email</li>
        <li>SMS</li>
      </ol>
    </div>
  </div>
  
</div>