<% content_for(:page_title, 'Challenge Your Friends') %>

<div class="vertical-center">
  <div class="container">
      <div class="row">
      <div class="page-header">
    <div class=" col-xs-9">
      <h1>Challenge</h1>
      <p>The fun part! Challenge your friends to pledge.</p>
    </div>
    <div class="counter col-xs-1 col-xs-offset-2">
      <p>4/5</p>
    </div>
</div>
</div>

        <div class="row">
          <div class="col-xs-9">
            <ul>
              <li><button class="btn btn-primary btn-lg fa fa-facebook">Facebook</button></li>
              <li><button class="btn btn-primary btn-lg">Twitter</button></li>
              <li><button class="btn btn-primary btn-lg">Google+</button></li>
              <li><button class="btn btn-primary btn-lg">Email</button></li>
              <li><button class="btn btn-primary btn-lg">SMS</button></li>
            </ul>
          </div>
          </div>
        </div>
  

      </div>
    </div>
  </div>
</div>