<% content_for(:page_title, 'Challenge Your Friends') %>

<div class="vertical-center">
  <div class="container">
    <div class="page-header">
      <h1>Challenge</h1>
      <p>The fun part! Challenge your friends to pledge!</p>
    </div>

        <div class="row">
          <div class="col-xs-12">
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Google+</li>
              <li>Email</li>
              <li>SMS</li>
            </ul>
          </div>
        </div>
  

      </div>
    </div>
  </div>
</div>