<% content_for(:page_title, 'Pay It Forward') %>
<div class="container">
  
  <div class="page-header">
    <h1>Pay It Forward</h1>
  </div>
  
  [Non-Referred Landing Content]
  
  <br />
  <%= link_to 'Make a Pledge', new_pledge_path %>
</div>

