<% content_for(:page_title, nil) %>
<div class="container">
  
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Pay It Forward</h1>
      </div>
    </div>
  </div>
  

  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Pick a charity and a pledge amount</li>
        <li>Challenge your friends to pledge</li>
        <li>If your friends' pledges reach the challange amount, your donation is submitted</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary btn-lg btn-block">Go!</button>
    </div>
  </div>
  
  
  
</div>