<% content_for(:page_title, nil) %>
<div class="container">
  
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Pay It Forward</h1>
      </div>
    </div>
  </div>
  

  <div class="row">
    <div class="col-xs-4">
      <%= link_to page_path('instructions') do %>
        <img src="http://placehold.it/512x512" alt="512x512" class="img-thumbnail">
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to page_path('instructions') do %>
        <img src="http://placehold.it/512x512" alt="512x512" class="img-thumbnail">
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to page_path('instructions') do %>
        <img src="http://placehold.it/512x512" alt="512x512" class="img-thumbnail">
      <% end %>
    </div>
  </div>

</div>