<% content_for(:page_title, 'Choose Your Charity') %>

<div class="vertical-center">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          <div class="col-xs-4">
            <%= link_to page_path('pledge') do %>
              <img src="http://placehold.it/512x512" alt="512x512" class="img-thumbnail">
            <% end %>
          </div>
          <div class="col-xs-4">
            <%= link_to page_path('pledge') do %>
              <img src="http://placehold.it/512x512" alt="512x512" class="img-thumbnail">
            <% end %>
          </div>
          <div class="col-xs-4">
            <%= link_to page_path('pledge') do %>
              <img src="http://placehold.it/512x512" alt="512x512" class="img-thumbnail">
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>