<!-- Jumbotron header -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h1>CHOOSE</h1>
        <p>Let's do this! Please select a charity and a pledge amount from the list below.</p>
      </div>
    </div>
  </div>
</div>

<!-- Breadcrumb Nav -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <ol class="breadcrumb">
        <li class="active">Choose</li>
        <li>Pledge</li>
        <li>Pay</li>
        <li >Challenge</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @charities.each do |charity| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag charity.image.url %>
          <div class="caption">
            <h3><%= charity.name %></h3>
            <p><%= charity.description %></p>
            <p><%= button_to 'Choose', new_pledge_path, params: {charity_id: charity.id}, class: 'btn btn-primary' %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
